# net.netfilter.nf_conntrack_max / 8. https://github.com/jeffmurphy/NetPass/blob/master/doc/netfilter_conntrack_perf.txt
# echo "250000" > /sys/module/nf_conntrack/parameters/hashsize
options nf_conntrack hashsize=250000
