# {{ ansible_managed }}
<source>
  @type tail
  format none
  path /var/log/nginx/access.log
  pos_file /tiki/td-agent/nginx-access.log.pos
  tag nginx.access
</source>

<source>
  @type tail
  format /^(?<time>\d{4}/\d{2}/\d{2} \d{2}:\d{2}:\d{2}) \[(?<log_level>\w+)\] (?<pid>\d+)#(?<tid>\d+): \*(?<message>.*?), ?(client: (?<client>[^ ]*), server: (?<server>[^ ]*), request: "(?<method>\S+)(?: +(?<path>[^\"]*?)(?: +\S*)?)?", upstream: "(?<upstream>[^ ]*)", host: "(?<host>[^ ]*)"?(|, referrer: "(?<referrer>[^ ]*))|excess: (?<excess>.*?), client: (?<client>[^ ]*), server: (?<server>[^ ]*), request: "(?<method>\S+)(?: +(?<path>[^\"]*?)(?: +\S*)?)?", host: "(?<host>[^ ]*)"(|, referrer: "(?<referrer>[^ ]*)")|(?<payload_message>.*))$/
  path /var/log/nginx/error.log
  pos_file /tiki/td-agent/nginx-error.log.pos
  tag nginx.error
</source>
