[[inputs.docker]]
  endpoint = "unix:///var/run/docker.sock"
  ## Only collect metrics for these containers, collect all if empty
  container_names = []
  timeout = "5s"
  perdevice = true
  total = false
