[[inputs.ping]]
  urls = ["10.10.252.2"]
  count = 4
  ping_interval = 0.5
  timeout = 1.0

[[inputs.ping]]
  urls = ["10.10.252.4"]
  count = 4
  ping_interval = 0.5
  timeout = 1.0

[[inputs.ping]]
  urls = ["10.8.1.5"]
  count = 4
  ping_interval = 0.5
  timeout = 1.0

[[inputs.ping]]
  urls = ["10.8.2.45"]
  count = 4
  ping_interval = 0.5
  timeout = 1.0
